body {
	background-color : #ffe6e6;
	margin: 20px;
	padding: 20px;
}
a {
	margin: 20px;
	padding: 20px;
}
input[type=text] {
	background-color : #ffffcc;
    position: absolute;
	left: 300px;
    box-sizing: border-box;
    border: 1px solid red;
    border-radius: 10px;
}